In [91]:
import numpy as np
import pandas as pd

logInfo = pd.read_csv("pandas_tutorial_read.csv", delimiter=';', names=['my_datetime','event','country','user_id','source','topic'])

In [92]:
logInfo.head()

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

In [93]:
logInfo.tail()

              my_datetime event    country     user_id   source          topic
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

In [94]:
logInfo.sample(6)

              my_datetime event    country     user_id  source          topic
370   2018-01-01 04:59:54  read  country_7  2458151631  Reddit  South America
1170  2018-01-01 15:46:00  read  country_1  2458152431     SEO  North America
1145  2018-01-01 15:23:00  read  country_5  2458152406  Reddit           Asia
81    2018-01-01 01:15:53  read  country_7  2458151342     SEO  North America
1347  2018-01-01 18:17:32  read  country_2  2458152608  Reddit           Asia
164   2018-01-01 02:20:22  read  country_6  2458151425  Reddit           Asia

In [95]:
logInfo[['source','topic']]

       source          topic
0         SEO  North America
1         SEO  South America
2     AdWords         Africa
3     AdWords         Europe
4      Reddit  North America
5      Reddit  North America
6      Reddit         Europe
7     AdWords         Europe
8     AdWords  North America
9      Reddit  North America
10    AdWords           Asia
11        SEO      Australia
12     Reddit           Asia
13     Reddit         Europe
14     Reddit         Africa
15        SEO  North America
16        SEO  North America
17     Reddit           Asia
18        SEO  North America
19     Reddit           Asia
20     Reddit           Asia
21     Reddit         Africa
22    AdWords         Europe
23     Reddit           Asia
24     Reddit         Africa
25    AdWords  North America
26        SEO  North America
27        SEO  North America
28     Reddit           Asia
29     Reddit           Asia
...       ...            ...
1765   Reddit         Africa
1766  AdWords           Asia
1767  AdWords         Europe
1768   Reddit  South America
1769  AdWords      Australia
1770   Reddit           Asia
1771  AdWords         Africa
1772      SEO  South America
1773   Reddit           Asia
1774  AdWords           Asia
1775  AdWords           Asia
1776   Reddit           Asia
1777      SEO  North America
1778   Reddit           Asia
1779      SEO  South America
1780  AdWords         Africa
1781   Reddit           Asia
1782  AdWords           Asia
1783   Reddit           Asia
1784      SEO  North America
1785  AdWords         Africa
1786   Reddit           Asia
1787   Reddit           Asia
1788  AdWords         Europe
1789  AdWords           Asia
1790  AdWords  North America
1791      SEO           Asia
1792   Reddit           Asia
1793  AdWords         Europe
1794   Reddit           Asia

[1795 rows x 2 columns]

In [96]:
logInfo.sample(5)[['source','topic']]

       source          topic
1791      SEO           Asia
310    Reddit         Europe
1108  AdWords           Asia
629   AdWords  South America
392    Reddit           Asia

In [97]:
logInfo.source =='SEO'

0        True
1        True
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11       True
12      False
13      False
14      False
15       True
16       True
17      False
18       True
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26       True
27       True
28      False
29      False
        ...
1765    False
1766    False
1767    False
1768    False
1769    False
1770    False
1771    False
1772     True
1773    False
1774    False
1775    False
1776    False
1777     True
1778    False
1779     True
1780    False
1781    False
1782    False
1783    False
1784     True
1785    False
1786    False
1787    False
1788    False
1789    False
1790    False
1791     True
1792    False
1793    False
1794    False
Name: source, Length: 1795, dtype: bool

In [98]:
logInfo[logInfo.source == 'SEO']

              my_datetime event    country     user_id source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261    SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262    SEO  South America
11    2018-01-01 00:08:57  read  country_7  2458151272    SEO      Australia
15    2018-01-01 00:11:22  read  country_7  2458151276    SEO  North America
16    2018-01-01 00:13:05  read  country_8  2458151277    SEO  North America
18    2018-01-01 00:13:39  read  country_4  2458151279    SEO  North America
26    2018-01-01 00:20:18  read  country_5  2458151287    SEO  North America
27    2018-01-01 00:20:44  read  country_2  2458151288    SEO  North America
30    2018-01-01 00:24:52  read  country_6  2458151291    SEO  North America
41    2018-01-01 00:35:23  read  country_5  2458151302    SEO           Asia
54    2018-01-01 00:46:42  read  country_5  2458151315    SEO  North America
56    2018-01-01 00:49:37  read  country_7  2458151317    SEO  North America
57    2018-01-01 00:49:58  read  country_2  2458151318    SEO         Europe
60    2018-01-01 00:55:38  read  country_7  2458151321    SEO  North America
62    2018-01-01 00:56:27  read  country_6  2458151323    SEO           Asia
69    2018-01-01 01:03:19  read  country_5  2458151330    SEO         Europe
72    2018-01-01 01:04:22  read  country_8  2458151333    SEO  North America
73    2018-01-01 01:05:51  read  country_2  2458151334    SEO  North America
77    2018-01-01 01:12:51  read  country_4  2458151338    SEO         Africa
80    2018-01-01 01:14:24  read  country_4  2458151341    SEO         Africa
81    2018-01-01 01:15:53  read  country_7  2458151342    SEO  North America
83    2018-01-01 01:17:14  read  country_2  2458151344    SEO  South America
87    2018-01-01 01:18:12  read  country_6  2458151348    SEO      Australia
91    2018-01-01 01:20:37  read  country_7  2458151352    SEO  North America
97    2018-01-01 01:24:49  read  country_2  2458151358    SEO  North America
98    2018-01-01 01:28:30  read  country_4  2458151359    SEO           Asia
106   2018-01-01 01:35:40  read  country_5  2458151367    SEO  North America
110   2018-01-01 01:37:56  read  country_2  2458151371    SEO         Africa
114   2018-01-01 01:41:15  read  country_7  2458151375    SEO  North America
125   2018-01-01 01:51:51  read  country_2  2458151386    SEO  South America
...                   ...   ...        ...         ...    ...            ...
1601  2018-01-01 21:41:50  read  country_2  2458152862    SEO           Asia
1602  2018-01-01 21:44:00  read  country_5  2458152863    SEO  North America
1603  2018-01-01 21:44:10  read  country_5  2458152864    SEO  North America
1615  2018-01-01 21:52:25  read  country_8  2458152876    SEO  North America
1616  2018-01-01 21:52:31  read  country_4  2458152877    SEO         Europe
1619  2018-01-01 21:56:27  read  country_7  2458152880    SEO         Europe
1624  2018-01-01 21:59:03  read  country_8  2458152885    SEO  North America
1637  2018-01-01 22:07:57  read  country_2  2458152898    SEO      Australia
1641  2018-01-01 22:09:53  read  country_6  2458152902    SEO  North America
1662  2018-01-01 22:28:41  read  country_7  2458152923    SEO  North America
1664  2018-01-01 22:30:26  read  country_4  2458152925    SEO  North America
1669  2018-01-01 22:33:19  read  country_7  2458152930    SEO      Australia
1675  2018-01-01 22:43:25  read  country_5  2458152936    SEO           Asia
1688  2018-01-01 22:49:18  read  country_1  2458152949    SEO         Africa
1692  2018-01-01 22:52:44  read  country_2  2458152953    SEO  South America
1694  2018-01-01 22:53:19  read  country_2  2458152955    SEO  North America
1706  2018-01-01 23:01:15  read  country_7  2458152967    SEO  North America
1708  2018-01-01 23:03:12  read  country_6  2458152969    SEO         Europe
1723  2018-01-01 23:14:18  read  country_3  2458152984    SEO  North America
1736  2018-01-01 23:21:08  read  country_5  2458152997    SEO           Asia
1740  2018-01-01 23:23:20  read  country_7  2458153001    SEO           Asia
1748  2018-01-01 23:26:34  read  country_7  2458153009    SEO  South America
1756  2018-01-01 23:32:29  read  country_7  2458153017    SEO  North America
1757  2018-01-01 23:32:36  read  country_7  2458153018    SEO         Europe
1762  2018-01-01 23:36:09  read  country_5  2458153023    SEO  North America
1772  2018-01-01 23:45:58  read  country_7  2458153033    SEO  South America
1777  2018-01-01 23:49:52  read  country_5  2458153038    SEO  North America
1779  2018-01-01 23:51:25  read  country_4  2458153040    SEO  South America
1784  2018-01-01 23:54:03  read  country_2  2458153045    SEO  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052    SEO           Asia

[346 rows x 6 columns]

In [99]:
logInfo.head()[['country', 'user_id']]

     country     user_id
0  country_7  2458151261
1  country_7  2458151262
2  country_7  2458151263
3  country_7  2458151264
4  country_8  2458151265

In [100]:
logInfo[['country', 'user_id']].head()

     country     user_id
0  country_7  2458151261
1  country_7  2458151262
2  country_7  2458151263
3  country_7  2458151264
4  country_8  2458151265

Select the user_id, the country and the topic columns for the users who are from country_2! Print the first five rows only!

In [101]:
logInfo[logInfo.country == 'country_2'][['user_id','topic', 'country']].head()

       user_id   topic    country
6   2458151267  Europe  country_2
13  2458151274  Europe  country_2
17  2458151278    Asia  country_2
19  2458151280    Asia  country_2
20  2458151281    Asia  country_2